<%= stylesheet_link_tag 'movies' %> <%= javascript_include_tag 'movies' %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="movies-container">
        <% @movies.each do |movie| %>
        <div class="card mb-3 " data-movie-id="<%= movie.id %>">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img
                src="<%= url_for(movie.picture) %>"
                alt="Movie Picture"
                class="card-img"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= movie.name %></h5>
                <p class="card-text">
                  <strong>Genre:</strong> <%= movie.genre %>
                </p>
              </div>
            </div>
          </div>
          <div class="card-footer text-muted" style="display: none">
            <%= movie.about %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
