<div class="container">
 <div class="row">
    <% @shows.each do |show| %>
      <div class="col-md-4">
        <div class="card mb-4">
        <% if show.image.attached? %>
          <%= image_tag url_for(show.image), class: "card-img-top" %>
        <% end %>  
          <div class="card-body">
            <h5 class="card-title"><%= show.name %></h5>
            <p class="card-text">
              <strong>Time:</strong> <%= show.time %> | <strong>Runtime:</strong> <%= show.runtime %> minutes
            </p>
            <p class="card-text">
              <strong>Location:</strong> <%= show.language.title %> | <strong>Theater:</strong> <%= show.theater.name %>
            </p>
            <p class="card-text"><%= truncate(show.about, length: 150) %></p>
    <!-- <a href="<%= show_path(show) %>" class="btn btn-primary">Buy Tickets</a>  -->
    <%= link_to 'Edit', edit_show_path(show) %>
          </div>
        </div>
      </div>
    <% end %>
 </div>
</div>
